<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome!!!</title>
    <li> Search by Location</li>
    <form method="post">
        Location: <input type="text" name="location"><br>
        <input type="submit" value="Submit"><br>
    </form>

    <br>

    <li> Search by Number of bedrooms</li>
    <form method="post">
        Number of bedrooms: <input type="text" name="bedroom"><br>
        <input type="submit" value="Submit"><br>
    </form>

    <br>

    <li> Machine learning Model</li>
    <form method="post">
        Location: <input type="text" name="mlocation"><br>
        Number of bedrooms: <input type="text" name="mbedroom"><br>
        Square feet: <input type="text" name="msquarefeet"><br>
        <input type="submit" value="Submit"><br>
    </form>
</head>
<body>

</body>
</html>